body {
  background: darkgray;
}

.board {
  border: 25px solid grey;

  height: 600px;
  width: 600px;

  margin: 20px auto;
  padding: 0; }

.square {
  height: 75px;
  width: 75px;
  margin-bottom: -4px;
  box-sizing: border-box;
  display: inline-block; }

  .square.light {
    background: darkkhaki; }

  .square.dark {
    background: darkolivegreen; }

  .square:focus {
    outline: none; }


.piece {
  height: 75px;
  width: 75px;
  margin-bottom: -4px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.moves {
  height: 45px;
  width: 45px;

  background: grey;
  border-radius: 50%; }
